body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.title {
    color: rgb(102, 226, 164);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-image: url('../img/th.jpg');
    /*background-color: rgba(59, 164, 152, 0.786);*/
    border-bottom: 2px solid white;
}

.front-page h1 {
    font-size: 2.5em;
    margin: 0.5em 0;
}

.front-page p {
    font-size: 1.2em;
}

.content {
    bottom: 0;
    padding: 2em;
    background-color: aqua;
    text-align: center;
}

.content h2 {
    font-size: 2em;
    margin-top: 1em;
}

.diagram, .screenshot {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 1em 0;
    border: 1px solid #ccc;
    padding: 0.5em;
    background-color: #fff;
}
